html,
body {
    height: 100%;
    margin: 0;
    background: white;
    color: black;
    font-family: monospace, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    min-width: 320px;
    max-width: 420px;
    width: 90%;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

button {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
    font-family: monospace, monospace;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 2px;
    margin-bottom: 10px;
}